@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
}

a {
  outline: none;
  text-decoration: none;
  color: white;
}

header, footer {
  padding: 20px;
  text-align: center;
  font-family: "Fontdiner Swanky", serif;
  font-weight: 10;
  font-size: 20px;
  font-style: thin;
}

canvas{
  z-index: -1;
}


.link {
  position: relative;
  display: inline-block;
}

.link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0); 
  transition: background 0.1s ease-in-out;
  z-index: -1;
}

.link:hover::before {
  background: rgba(0, 0, 0, 1);
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.logo-name-font {
  font-family: "Fontdiner Swanky", serif;
  font-size: 100px;
  font-weight: bold;
  white-space: nowrap;
}
