@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&family=VT323&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


canvas {
  width: 360px; 
  height: 360px;
  display: block;
}

body {
  /* color: white; */
}

header {
 display: flex;
  justify-content: center;
  align-items: center; 

  margin-top: 10px;
  /* background: black; */
  /* padding-inline-end: 5px; */
  /* padding-inline-start: 5px; */
  /* gap: 10px; */

  font-family: "VT323", serif;
  font-weight: 10;
  font-size: 25px;
  font-style: thin;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column; 
  align-items: center;
  text-align: center;
  padding: 20px;
}

footer {
  width: 100%;
  color: white;
  margin-bottom: 20px;
  text-align: center;
  font-family: "VT323", serif;
  font-weight: 10;
  font-size: 20px;
  font-style: thin;
}

canvas{
  z-index: -1;
}

nav {
  display: flex;
  gap: 10px;
}

a {
  outline: none;
  text-decoration: none;
  color: white;
}

.text-container{
  padding: 5px;
  text-align: justify;

  font-family: "VT323", serif;
  font-weight: 10;
  font-size: 20px;
  font-style: thin;
  line-height: 1;
}

.link {
  position: relative;
}

.link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0); 
  transition: background 0.1s ease-in-out;
  z-index: -1;
}

.link:hover::before {
  background: rgba(0, 0, 255, 1);
}

.video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(5px);
  filter: brightness(90%) blur(0.5px);
  z-index: -1;
  transform: scale(1.1);
}

.container-main {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.logo-name-font {
  font-family: "Fontdiner Swanky", serif;
  font-size: 100px;
  font-weight: regular;
  white-space: nowrap;
  user-select: none;
}

.container {
  position: absolute;
  width: auto;  
  height: auto; 
  min-height: 40px;  
  max-height: 500px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.9);
  cursor: move;
  overflow: hidden;

  font-family: "VT323", serif;
  font-weight: 10;
  font-size: 20px;
  font-style: thin;
  line-height: 1;

  display: flex;
  flex-direction: column;
  pointer-events: none; 
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  cursor: move;
  user-select: none;
}

.title {
  padding-left: 5px;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}

.close-btn {
  padding: 0px 10px 0px 10px;
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;

  font-family: "VT323", serif;
  font-weight: 10;
  font-size: 20px;
  line-height: 1;
}

.close-btn:hover {
  background-color: rgba(0, 0, 255, 1);
}

.media-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.text-content {
  overflow: hidden;
  flex: 1;
  display: flex;
  justify-content: center;  /
  align-items: top;      
}

.media-content canvas {
  pointer-events: auto;
}

.header, .resize-handle, .close-btn {
  pointer-events: auto;
}

.resize-handle {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 10px;
  height: 10px;
  background-color: black;
  border: 1px solid #ccc;
  cursor: se-resize;
}

